<%= form_for(:recipe, url: recipes_path, html: {class: 'recipes form'}) do |f| %>
  <%= f.label(:title, class: 'label') {"Name:"} %>
  <%= f.text_field(:title, class: 'input') %>

  <%= f.label(:ingredients, class: 'label') {"Ingredients:"} %>
  <%= f.text_field(:ingredients, class: 'input') %>

  <%= f.label(:steps, class: 'label') {"Steps:"} %>
  <%= f.text_field(:steps, class: 'input') %>

  <div class="recipes__set-categories">
    <div class="recipes__set-categories__label">Categories:</div>
    <div class="recipes__set-categories__list">
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |cat|%>
        <%= cat.label(class: 'label--inline') {cat.check_box(class: 'checkbox') + cat.text } %>
      <% end %>
    </div>
    <div class="recipes__set-categories__add">
      <%= link_to('+ New Category', new_category_path) %>
    </div>
  </div>

  <div class="recipes__set-difficulty">
    <div class="recipes__set-difficulty__label">Difficulty:</div>
    <div class="recipes__set-difficulty__list">
      <%= f.collection_radio_buttons(:level_id, Level.all, :id, :name) do |l|%>
        <%= l.label(class: 'label--inline') {l.radio_button(class: 'radio') + l.text } %>
      <% end %>
    </div>
  </div>

  <div class="recipes__buttons">
    <%= link_to("cancel", path) %>
    <%= f.submit "Submit", class: 'submit' %>
  </div>
<% end %>
