<div class="recipes">
  <h1>Recipes</h1>
  <p>Mmm cook me, eat me, get fat, and be happy!</p>

  <%= link_to('+ New Recipe', new_recipe_path) %>

  <% @recipes.each do |recipe| %>
    <h2 class="recipes__title">
      <%= link_to(recipe.title, recipe, class: 'no-deco') %>
      <span class="recipes__level">(<%= recipe.level.name %>)</span>
    </h2>
    <span class="recipes__categories">
      <% recipe.categories.each do |cat| %>
        <span class="recipes__categories--badge" style="background:<%= cat.colour %>; "><%= cat.name %></span>
      <% end %>
    </span>

    <p>Ingredients: <%= Array(recipe.ingredients.split(', ')).length %></p>

    <p>Directions: <%= Array(recipe.steps.split(', ')).length %></p>
    <br />
  <% end %>
</div>
