<%= link_to('View All Recipes', recipes_path) %>
<h1>
  <%= @recipe.title %> <span>(<%= @recipe.level.name %>)</span>
  <%= button_to('Edit', edit_recipe_path(@recipe.id), :method => :get) %>
</h1>

Categories: <% @recipe.categories.each do |cat| %><span><%= cat.name %>, </span><% end %>

<h2>Ingredients</h2>
<ul>
  <% Array(@recipe.ingredients.split(', ')).each do |ingredient| %>
    <li><%= ingredient %></li>
  <% end %>
</ul>

<h2>Directions</h2>
<ol>
  <% Array(@recipe.steps.split(', ')).each do |step| %>
    <li><%= step %></li>
  <% end %>
</ol>
<br />
<br />
<%= button_to('Delete', @recipe, :method => :delete, data:{ confirm: 'Are you sure?' }) %>
