<%= form_for(:category, url: categories_path, html: {class: 'categories form'}) do |f| %>
  <%= f.label(:name, class: 'label') {"Category Name:"} %>
  <%= f.text_field(:name, class: 'input') %>

  <%= f.label(:colour, class: 'label') {"Badge Colour (html colour or hex):"} %>
  <div class="categories__colour">
    <%= f.text_field(:colour, class: 'input', value: 'black') %>
    <span class="categories__colour__indicator" style="background:<%= category.colour || 'black' %> ;"></span>
  </div>

  <div class="categories__buttons">
    <%= link_to("cancel", path) %>
    <%= f.submit "Submit", class: 'primary' %>
  </div>
<% end %>
