<!DOCTYPE html>
<html>
  <head>
    <title>FeedMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navigation">
      <ul class="navigation__list">
        <a href="/recipes" class="no-deco" title="All Recipes">
          <li class="navigation__list__item">Recipes</li>
        </a>
        <a href="/categories" class="no-deco" title="All Categories">
          <li class="navigation__list__item">Categories</li>
        </a>
        <a href="/levels" class="no-deco" title="Difficulty Levels">
          <li class="navigation__list__item">Difficulty</li>
        </a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
